Package: monerod
Version: 0.12.2.0-master-9226acca
Section: Miscellaneous
Priority: optional
Architecture: amd64
Depends: libboost-all-dev, libssl-dev, pkg-config, libzmq3-dev, libsodium-dev, libminiupnpc-dev, libunwind8-dev, liblzma-dev, libreadline-dev, libldns-dev, libexpat1-dev
Maintainer: Jorropo <jorropo.pgm@gmail.com>
Description: Monero deamon
Homepage: https://getmonero.org/
